/* APlayer 样式 */
.aplayer {
	background: rgba(
		255,
		255,
		255,
		0.6
	) !important; /* 设置背景颜色并增加透明度 */
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07), 0 1px 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
	position: relative;
	font-family: "LXGW Wenkai Screen";

	/* 设置字体 */
}

.aplayer.aplayer-fixed .aplayer-lrc:after,
.aplayer.aplayer-fixed .aplayer-lrc:before {
	display: none; /* 隐藏歌词前后效果 */
}

.aplayer.aplayer-fixed .aplayer-body {
	background: rgba(255, 255, 255, 0.6) !important; /* 固定播放器背景颜色 */
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07), 0 1px 5px rgba(0, 0, 0, 0.1); /* 固定播放器阴影 */
	position: fixed;
}

.aplayer .aplayer-list ol::-webkit-scrollbar {
	width: 8px; /* 设置滚动条宽度 */
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
	border-radius: 4px; /* 滚动条圆角 */
	background-color: #6cf !important; /* 滚动条颜色 */
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
	background-color: #63b7e1 !important; /* 滚动条悬停颜色 */
}

.aplayer.aplayer-fixed .aplayer-list {
	border-radius: 6px 6px 0 0 !important; /* 固定播放器列表圆角 */
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
	border-radius: 0 6px 6px 0 !important; /* 固定播放器切换按钮圆角 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
	transition: 0.28s !important; /* 固定播放器过渡效果 */
	border-radius: 6px !important; /* 固定播放器圆角 */
}

.aplayer .aplayer-list ol li:hover,
.aplayer .aplayer-list ol li.aplayer-list-light {
	background: #f1d3d3 !important; /* 列表项悬停背景色 */
}

.aplayer-lrc p {
	color: #ff76f4 !important; /* 歌词颜色 */
	text-shadow: 0 1px #6cf, 0 -1px #6cf, 1px 0 #6cf, -1px 0 #6cf !important; /* 歌词阴影 */
}

.aplayer .aplayer-miniswitcher {
	height: 40% !important;
	left: 290px;
	border-radius: 8px !important;
	top: 20px !important; /* 切换按钮样式 */
}

.aplayer-narrow .aplayer-miniswitcher {
	position: fixed !important;
	left: 300px !important;
	bottom: 10px !important;
	height: 26px !important; /* 狭窄模式切换按钮样式 */
}

.aplayer-fixed.aplayer-narrow .aplayer-body {
	transition: all 1s;
	transform: translateX(-300px);
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s; /* 狭窄模式过渡效果 */
}

.aplayer-body {
	padding-right: 0 !important; /* 播放器主体样式 */
}

.aplayer.aplayer-fixed {
	background-color: transparent; /* 固定播放器背景 */
}

.aplayer.aplayer-fixed .aplayer-body {
	bottom: 10px !important;
	left: 10px !important;
	background: rgba(255, 250, 250, 0.8) !important;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 1px solid rgb(210, 210, 210) !important;
	box-shadow: 0 2px 2px 0 #09080812, 0 1px 5px 0 #0505051a;
	width: 300px !important; /* 固定播放器样式 */
}

.aplayer.aplayer-fixed .aplayer-body:hover {
	border: 1px solid rgb(210, 210, 210);
	box-shadow: 3px 3px 5px #88888894; /* 固定播放器悬停效果 */
}

.aplayer-pic {
	border-radius: 10px;
	transform: translateX(-1px); /* 图片样式 */
}

.aplayer.aplayer-fixed .aplayer-list {
	border: none !important;
	background-color: #d4d4d4 !important;
	transform: translate(70px, -20px);
	width: 250px;
	border-radius: 10px;
	backdrop-filter: blur(10px); /* 固定播放器列表样式 */
}

.aplayer.aplayer-fixed .aplayer-icon-lrc {
	display: none !important; /* 固定播放器图标样式 */
}

/* APlayer 伸缩 */
@media (max-width: 800px) {
	.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
		left: -66px !important;
	}
	.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
		left: 0 !important; /* 响应式样式 */
	}
}

/* 解决底部白色边框 */
.aplayer.aplayer-withlist.aplayer-fixed {
	visibility: hidden; /* 隐藏外层 div */
	display: block; /* 保持其位置 */
}

.aplayer.aplayer-withlist.aplayer-fixed > * {
	visibility: visible; /* 显示子元素 */
	display: block; /* 保持块级元素状态 */
}

[data-user-color-scheme="dark"] .aplayer {
	background: rgba(22, 22, 22, 0.6) !important;
	color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1); /* 暗色模式下阴影 */
}

[data-user-color-scheme="dark"] .aplayer.aplayer-fixed .aplayer-body {
	background: rgba(22, 22, 22, 0.6) !important;
	color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1); /* 暗色模式下固定播放器背景和阴影 */
}

[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-info
	.aplayer-controller
	.aplayer-time,
[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-info
	.aplayer-controller
	.aplayer-icon
	path,
[data-user-color-scheme="dark"] .aplayer .aplayer-list ol li:hover,
[data-user-color-scheme="dark"] .aplayer .aplayer-list ol li.aplayer-list-light,
[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-list
	ol
	li
	.aplayer-list-index,
[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-list
	ol
	li
	.aplayer-list-author,
[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-info
	.aplayer-music
	.aplayer-author,
[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-info
	.aplayer-controller
	.aplayer-time {
	color: #d4d4d4; /* 暗色模式下的文本和背景颜色 */
}

[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-info
	.aplayer-music
	.aplayer-author,
[data-user-color-scheme="dark"]
	.aplayer
	.aplayer-info
	.aplayer-controller
	.aplayer-time {
	color: white !important; /* 暗色模式下的作者和时间样式 */
}
